/* 
Author: Jared Suda
Date: 9/23/2022
File Name: styles.css
*/

/* CSS Reset */
body,
header,
nav,
main,
footer,
img,
h1,
h3 {
    text-align: center;
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rules for images and links */
img {
    display: block;
    margin: auto;
    padding-bottom: 20px;
    max-width: 100%;
}

a {
    text-decoration: none;
}

#personal-photo {
    border-radius: 8px;
}

/* Style rules to show mobile class and hide tab-desk class */
.mobile {
    display: block;
}

.tab-desk {
    display: none;
}

/* Style rules for navigation area */
nav {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background-color: #423b35;
}

nav a {
    color: antiquewhite;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: block;
    font-size: 1.5em;
    font-family: Geneva, Arial, sans-serif;
    font-weight: bold;
    padding: 5px 10px;
}

/* Style rules for main content */
body {
    margin-top: 120px;
    margin-bottom: 120px;
}

main {
    padding: 2%;
    font-family: 'Montserrat', sans-serif;
}

/* #info {
}

#contact-info {
} */

/* Style rules for footer content */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 1.25em;
    background-color: #423b35;
    color: #f6eee4;
    padding: 1% 0%;
}

footer p {
    display: inline-block;
    margin: 0% 2%;
}

footer a {
    color: #f3e6d8;
    font-weight: bold;
    font-style: italic;
}


/* Media Query for Tablet Viewport */
@media screen and (min-width: 620px),
print {

    /* Tablet Viewport: Show tab-desk class, hide mobile class */
    .tab-desk {
        display: block;
    }

    .mobile {
        display: none;
    }

    /* Tablet Viewport: Style rules for nav area */
    nav li {
        display: inline-block;
        font-size: 1.25em;
    }
}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1000px),
print {

    /* Desktop Viewport: Style rules for nav area */
    nav li {
        font-size: 1.5em;
    }
    
    nav li a {
        padding: 0.25em 0.5em;
    }

    nav li a:hover {
        color: #d6cfc8;
    }
}